.header {
    margin: 5px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .logo img{
    width: 30px;
}

.header .account .menuIcon {
    float: right;
    margin-left: 10px;
    transition: .4s;

    display: none;
}
.header .account .menuIcon:hover {
    cursor: pointer;
    border-radius: var(--br);
    background-color: var(--teal);
}
.header .account {

}
.header .accountButtons {
    display: none; /* flex */
    flex-direction: column;
    gap: 20px;
}

.taskFooter {
    display: flex;
    justify-content: center;
    gap: 20px;
}
