
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --white: #F5F5F5;
    --teal: #48CFCB;
    --dark-teal: #229799;
    --gray: #424242;
    --red: #EE4E4E;
    --yellow: #FAEF9B;
    --dark-yellow: #F6D776;

    --teal-selection: #48cfcb65;
    --shadow: rgba(34, 151, 153, 0.4) 5px 5px, rgba(34, 151, 153, 0.3) 10px 10px, rgba(34, 151, 153, 0.2) 15px 15px, rgba(34, 151, 153, 0.1) 20px 20px, rgba(34, 151, 153, 0.05) 25px 25px;

    --br: 4px;
}

* {
    font-family: "Open Sans";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--gray);
}


body {
    background-color: var(--white);
}

.container {
    width: clamp(350px, 50%, 1500px);
    margin: 50px auto;
}

.button {
    
    background-color: var(--teal);
    padding: var(--br) 10px;

    border: 1px solid transparent;
    border-radius: var(--br);

    display: flex;
    align-items: center;
    
    transition: background-color .4s;

}
.button:hover{
    cursor: pointer;

    border-color: var(--dark-teal);
    background-color: transparent;
}

.input-group {
    position: relative;
    width: 100%;
}
.input {
    font-size: .9em;

    padding: 15px;
    width: 100%;

    background-color: transparent;
    border: 1px solid var(--gray);

    border-radius: 8px;
}
.placeholder {
    font-size: 14px;
    padding: 0 10px ;

    top: 18px;
    left: 10px;

    user-select: none;

    transition: .3s;
    position: absolute;
}
.input:valid,
.input:focus {
    border-color: var(--teal);
}

.input:valid + .placeholder,
.input:focus + .placeholder {
    color: var(--dark-teal);

    top: -8px;
    background-color: var(--white); 

    border-color: var(--teal);
}

:focus {
    outline: none;
}
::selection {
    background-color: var(--teal-selection);
}
