
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --white: #F5F5F5;
    --teal: #48CFCB;
    --dark-teal: #229799;
    --gray: #424242;
    --red: #EE4E4E;
    --yellow: #FAEF9B;
    --dark-yellow: #F6D776;

    --br: 4px;
}

* {
    font-family: "Open Sans";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--gray);
}


body {
    background-color: var(--white);
}

.container {
    width: clamp(350px, 50%, 1500px);
    margin: 50px auto;
}

.button {
    
    background-color: var(--teal);
    padding: var(--br) 10px;

    border: 1px solid transparent;
    border-radius: var(--br);

    display: flex;
    align-items: center;
    
    transition: background-color .4s;

}
.button:hover{

    cursor: pointer;

    border-color: var(--dark-teal);
    background-color: transparent;
}