.accountSection .accountButtons{
    text-decoration: none;

    margin-top: 50px;

    display: flex;
    justify-content: center;
    gap: 50px;
}

.accountSection .accountButtons .accountButton {
    font-size: 1.5em;
}
