.custom-select {
    width: 200px;
    position: relative;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    position: absolute;
    content: "";
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

.custom-select select {
    appearance: none;
    width: 100%;
    font-size: 1rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    cursor: pointer;
}

.custom-select select option {
    font-family: "Arial";
}

.filtersContainer {
    width: fit-content;

    align-items: center ;
    display: flex;
    gap: 10px;
}

.filtersContainer .button{
    height: 0%;
}